@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}



/*-----HEADER or top section-------*/
.header{
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 16px 0 128px 0;
}

.navbar-content img{
    width: 350px;
}

a{
    color: #f9faf8;
    text-decoration: none;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.navbar{
    padding: 16px 0;
    width: 70vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar p{
    font-size: 24px;
    font-weight: 900;
}

.navbar-content{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.navbar-content .maintext{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
.navbar-content p.text{
    font-size: 48px;
    font-weight: bold;
}

.navbar-content p.subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.navbar-content button{
    padding: 8px 24px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 0; /*removes shadow*/
}


/* ---------Second Section--------- */

.second-section{
    
    padding: 32px 0 128px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.second-section > p{

    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.second-section .image-placeholder{
    border: 3px solid #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.information-belt .card{
    width: 160px;    
}

.card p{
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
    color: #5c5c5c;
}

.information-belt{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

/* ---------Third Section--------- */

.third-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 128px;
}

.third-section .quote{
    width: 500px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.third-section .quote-person{

    width: fit-content;
    width: 450px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}